.Success {
  background: green;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Error {
  background: rgb(170, 2, 2);
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-menu {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
}
